@import "/src/variable.css";

.cart {
  width: 900px;
  margin: auto;
  display: flex;
  gap: 0rem;
}

.cart-section {
  margin: 2rem;
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  height: 100vh;
  overflow: auto;
}

.checkout-section {
  display: flex;
  flex-flow: column wrap;
  width: 280px;
  height: auto;
  margin: auto;
  margin-top: 8rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.checkout-title {
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
}

.checkout-section button {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: none;
  font-size: 1.5rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.checkout-section button:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.price-details {
  margin-top: -1.2rem;
}

.price-details .price-right {
  float: right;
}

.price-details .total-price {
  font-weight: 500;
}

.price-details p {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 0.5;
}

.none-container {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  width: 500px;
  margin: auto;
}

.none-container button {
  margin-top: -1rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.none-container button:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
