:root {
  --primary-color: #ef9273;
  --secondary-color: #fef9f8;
}

/* :root {
  --primary-color: #7600dc;
  --secondary-color: #f0f0f0;
} */

/* :root {
  --primary-color: #434576;
  --secondary-color: #717dd3;
} */
