:root {
  --primary-color: #5e61e2;
  --secondary-color: #ffff;
}

/* :root {
  --primary-color: #4f709c;
  --secondary-color: #f5efe7;
} */

/* :root {
  --primary-color: #7600dc;
  --secondary-color: #f0f0f0;
} */

/* :root {
  --primary-color: #434576;
  --secondary-color: #717dd3;
} */
